#home-slider {
    height: 100%;
}

.home-slide-content {
    font-family: 'BebasNeueRegular',sans-serif;
    font-size: 90px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 0px;
    text-align: center;
    line-height: 1;
}

.home-slide-content {
    padding: 0;
    color: #ffffff;
}